<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ site.baseurl }}/favicon.png" type="image/png">
    <style> body {
      background: black;
    }
    #title {
      transition: opacity 1s;
    } .hide { opacity: 0; height: 0; padding: 0; margin: 0; }
    </style>
  </head>
  <body>
    <div class="wrapper">

      <section>
        <div id="title" class="hide">
          <img src="{{ site.baseurl }}/Images/logo.png" alt="Logo" style="position: relative; left: 230px;" width="690x" height="690px">
          <!--h1>{{ site.title | default: site.github.repository_name }}</h1-->
          <hr>
          
        </div>
        

      </section>

    </div>
    <script>
      (function() {
        'use strict';
        
        console.log('test')
        
        setTimeout(LogoFadeIn,1000)
        
        function LogoFadeIn() {
          document.getElementById("title").classList.toggle('hide')
        }
        //don't have time to see the transition
      })();
    </script>
  </body>
</html>
